<div class="quest-container">
  <h1>Quest</h1>
  <div class="cards-product">
      <div class="card-product">
        <img src="https://picsum.photos/200" />
        <div class="card-product-infos">
          <h3><%= @quest.name%></h3>
          <p><%= @quest.description  %></p>
          <%# <%= link_to  "Launch this Quest?", user_quest.create %>
        </div>
      </div>
    <%= link_to  "<- Retour", categories_path %>
  </div>
</div>
