// Specific CSS for your home-page
//  * {
//   background-color: #242423;
// }

.container {
  display: flex;
  max-width: 350px;
  flex-direction: column;
  align-items: center;
  background: #242423;
  padding: 10px;
  min-height: 100vh;
}

.small-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

body{
  background: #242423;
}

a {
  text-decoration: none;
}
