

<div class="navbar-card">
    <div class="nav-item dropdown">
        <%= image_tag "", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
    </div>
      <img class="avatar-navbar" src="https://file1.closermag.fr/var/closermag/storage/images/bio-people/biographie-ryan-gosling-112720/825706-1-fre-FR/Ryan-Gosling.jpg?alias=square500x500&size=x100&format=jpeg">
      <i class="fa-solid fa-trophy"></i>
</div>

<div class="container">
  <div class="cellules-skills">
      <p>392</p>
    </div>
  <div class="row">
    <div class="col">
    <div class="card">
      <h1>Pages#home</h1>
      <h2>MAIN SKILLS</h2>
    </div>
    <div class="card">
      <div class="title-card">
        <h1>PUSH-UP</h1>
        </div>
        <div class="grid-cellules-skills">
            <div class="cellules-skills">
              <p>Force</p>
            </div>
            <div class="cellules-skills">
              <p>Endu</p>
            </div>
            <div class="cellules-skills">
              <p>Cardio</p>
            </div>
        </div>
          <div class="progress">
              <div class="step-one">
              </div>
              <div class="step-one">
              </div>
              <div class="step-one">
              </div>
            <div class="progress-value"></div>
          </div>
    </div>
    <div class="card">
      <h1>CHANGING ROOM</h1>
    </div>
  </div>
  </div>
</div>
