.card {
  display: block;
  background: #323232;
  border: 3px solid black;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  height: 165px;
  width: 340px;
  text-align: center;
  background-color: #323232;
  color: #E8EDDF;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.card-border-yellow {
  display: block;
  background: #323232;
  border: 3px solid #F5CB5C;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  height: 165px;
  width: 340px;
  text-align: center;
  background-color: #323232;
  color: #E8EDDF;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.card-changing-room {
  display: block;
  background: #323232;
  border: 3px solid black;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  height: 190px;
  width: 340px;
  text-align: center;
  background-color: #323232;
  color: #E8EDDF;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.grid-cellules-skills {
  display: flex;
  justify-content: space-between;
  align-items: center;

}




.title-card {
  padding-bottom: 30px;
}
