.card {
  display: block;
  background: #323232;
  border: 3px solid black;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  height: 165px;
  width: 340px;
  text-align: center;
  background-color: #323232;
  color: #E8EDDF;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.card-graph {
  display: block;
  background: #323232;
  border: 3px solid black;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  height: 450px;
  width: 340px;
  text-align: center;
  background-color: #E8EDDF;
  color: #E8EDDF;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.shop-card {
  display: block;
  background: #323232;
  border: 3px solid black;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  width: 340px;
  height: 380px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #323232;
  color: #E8EDDF;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.shop-container{
  width: 340px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.shop-element h3{
  color: #E8EDDF;
}

.shop-element{
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;
}

.semi-card {
  background: #323232;
  border: 3px solid black;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  height: 180px;
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  background-color: #323232;
  color: #E8EDDF;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  padding-top: 8pxpx;
  margin-top: 8px;
  margin-bottom: 8px;
}

.card-border-yellow {
  display: block;
  background: #323232;
  border: 3px solid #F5CB5C;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  height: 165px;
  width: 340px;
  text-align: center;
  background-color: #323232;
  color: #E8EDDF;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.card-grey {
  background: #E8EDDF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  height: 144px;
  width: 340px;
  background-color: #E8EDDF;;
  color: #323232;
  padding-top: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.upper-card-grey {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;
}

.lower-card-grey {
  text-align: center;
}

.card-grey-action {
  display: block;
  background: #E8EDDF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  height: 450px;
  width: 340px;
  background-color: #E8EDDF;;
  color: #323232;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
  justify-content: space-between;
}

.card-changing-room {
  display: block;
  background: #323232;
  border: 3px solid black;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  height: 250px;
  width: 340px;
  text-align: center;
  background-color: #323232;
  color: #E8EDDF;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.card-skills {
  display: block;
  background: #323232;
  border: 3px solid black;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  height: 300px;
  width: 340px;
  text-align: center;
  background-color: #323232;
  color: #E8EDDF;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-bottom: 8px;
}

.card-trophies {
  display: block;
  background: #323232;
  border: 3px solid black;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  height: 165px;
  width: 340px;
  text-align: center;
  background-color: #E8EDDF;
  color: #323232;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.card-action-progress {
  display: block;
  border-radius: 8px;
  height: 200px;
  width: 340px;
  text-align: center;
  align-items: center;
  background-color: #242423;
  color: #E8EDDF;
  padding-left: 20px;
  padding-right: 20px;
}

.invisible-card-top-quest {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  width: 340px;
  background-color: #242423;
  padding-top: 10px;
}

.timer-position-fix {
  padding-top: 10px;
}

.title-card {
  padding-bottom: 30px;
}

.card-quest {
  width: 340px;
  height: 420px;
  background: #323232;
  background-color: #323232;
  color: #E8EDDF;
  border: 3px solid black;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  padding: 8px 16px 0 16px;
  text-align: center;
  display: block;
  overflow: auto;
}

.card-grey-action-reward {
  display: flex;
  background: #E8EDDF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  height: 450px;
  width: 340px;
  background-color: #E8EDDF;;
  color: #323232;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
