.cellules-skills {
  background: #F5CB5C;
  color: #323232;
  border-radius: 20px;
  width: 90px;
  height: 20px;
  box-shadow: #323232;
}

.cellules-skills-coin {
  background: #F5CB5C;
  color: #323232;
  border-radius: 20px;
  width: 90px;
  height: 20px;
  box-shadow: #323232;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.grid-cellules-skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-cellules-skills-quest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.navbar-element > .fa-solid {
  margin-top: 2px;
  color: #323232;
}

.fa-coins {
  margin-top: 2px;
  color: #323232;
}
