.cellules-skills {
  background: #F5CB5C;
  color: #323232;
  border-radius: 20px;
  width: 90px;
  height: 20px;
  box-shadow: #323232;
  padding-bottom: 23px
}

.cellules-skills-coin {
  width: 90px;
  height: 20px;
  background: #F5CB5C;
  color: #323232;
  border-radius: 20px;
  box-shadow: #323232;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.grid-cellules-skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-cellules-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


.navbar-element > .fa-solid {
  margin-top: 2px;
  color: #323232;
}

.fa-coins {
  margin-top: 2px;
  color: #323232;
}

.card-grey-action-reward .fa-coins {
  margin-top: 8px;
  color: #323232;
  font-size: 26px;
}


.bar-chart {
  width: 100%;
  height: 100%;
}


.grid-cellules-skills-quest h4{
margin-bottom: 0px;
}

.grid-cellules-quest {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.container-cellules-quests {
  width: 310px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 16px;
  padding-top: 8px;
}

.card-grey-action-reward .cellules-skills-coin {
  width: 180px;
  height: 40px;
  background: #F5CB5C;
  color: #323232;
  border-radius: 20px;
  box-shadow: #323232;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.card-grey-action-reward .coin-count{
  font-size: 30px;
}

.chart-donut {
  width: 330px;
  height: 550px;
  padding-top: 32px;
}

.cellules-skills-quest {
  background: #F5CB5C;
  color: #323232;
  border-radius: 20px;
  width: 90px;
  height: 20px;
  box-shadow: #323232;
  padding-bottom: 23px
}
