.dropdown-menu {
  background-color: #323232;
  border-radius: 5px;
  font-size: larger;
  height: 220px;
  width: 200px;
  justify-content: space-between;
  border-color: #F5CB5C;
  border-width: 2px;
}

.btn-dropdown {
  font-size: 30px;
  margin: 10px;
}

#dropdown-toggled {
  height: 150px;
  width: 280px;
  background-color: #E8EDDF;
  border-radius: 10px;
  margin-top: 10px;
  justify-content: center;
  margin-bottom: 16px;
  text-align: center;
  display: none;
}

#dropdown-toggled.active {
  display: block;
}

#dropdown-toggled-deux {
  height: 50px;
  width: 280px;
  background-color: #E8EDDF;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 16px;
  justify-content: center;
  text-align: center;
  display: none;
}

#dropdown-toggled-deux.active {
  display: block;
}

#dropdown-toggled-trois {
  height: 50px;
  width: 280px;
  background-color: #E8EDDF;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 16px;
  justify-content: center;
  text-align: center;
  display: none;
}

#dropdown-toggled-trois.active {
  display: block;
}

.cellules-skills-drop {
  background: #F5CB5C;
  color: #323232;
  border-radius: 20px;
  width: 260px;
  height: 25px;
  box-shadow: #323232;
  margin: 3px;
}

.cellules-skills-drop-positionner {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.cellules-skills-drop-golds {
  color: #323232;
}
