.categories-titles {
  text-decoration: none;
  color: #CFDBD5;
}

.categories-titles:hover {
  color: #CFDBD5;
}

.action-count {
  font-size: 40px;
  font-weight: bolder;
  padding-top: 40px;
}

.font-bold-large {
  font-size: 25px;
  font-weight: 900;
}

.title-center-card {
  padding-top: 40px;

}

.quest-finish-congratulation {
  padding-top: 180px;
  font-size: xx-large;
}
