.adding-bar {
  height: 44px;
  width: 293px;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  top: -62px;
}

.round-plus {
  display: flex;
  justify-content: center;
  height: 60px;
  width: 270px;
  border-radius: 50px;
  background-color: #F5CB5C;
  text-align: center;
  border: 1px solid #242423;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
}

.big-plus {
  color: #242423;
  font-size: 40px;
}

.big-plus:hover {
  color: #242423;
}
