.navbar-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #242423;
  height: 80px;

}

.avatar-navbar {
  height: 77px;
  width: 77px;
  border-radius: 50px;
}

.fa-solid fa-trophy {
  color: #F5CB5C;
  font-size: 30px;
}
