.progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 25px;
  width: 300px;
}

.progress-value {
  animation: load 0.7s linear;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 40px;
  background: #F5CB5C;
  height: 15px;
  width: 300px;
}

.dot-spacer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.step-dot {
  background-color: #242423;
  border-radius: 50px;
  height: 13px;
  width: 13px;
  margin-top: 1px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 100%; }
}

.step-dot:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  height: 40px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content content {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
