<div class="container">

<%# ----------------- MENU CARD YELLOW ----------------- %>
  <div class="card-grey">
    <%= render "shared/yellow_navbar" %>
    <div class="lower-card-grey">
      <h1>Quests</h1>
    </div>
  </div>

<%# ----------------- CARD QUEST ----------------- %>

  <% @category.quests.each do |quest| %>
    <% unless quest.finish_for(current_user)%>
      <% if quest.rank == current_user.rank_for(quest) %>
        <%= link_to category_quest_path(@category, quest) do %>
          <div class="card-quest-category">
            <div class="categories-titles-quest">
              <h2>
                <%= quest.name %>
              </h2>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

<%# ----------------- LIEN DE RETOUR ----------------- %>

  <%= link_to  "Return", categories_path, class: "yellow-small-btn"%>
</div>
