<div class="container">

<%# ----------------- MENU CARD YELLOW ----------------- %>
  <div class="card-grey">
    <%= render "shared/yellow_navbar" %>
  </div>

<%# ----------------- MENU CARD ----------------- %>

  <div class="card-grey-action">
    <h2 class="quest-finish-congratulation">WELL DONE !</h2>
  </div>

<%# ----------------- MENU CARD ----------------- %>

  <%= link_to "FINISH", category_quest_path(@category, @quest), class:"yellow-large-btn"%>
</div>
