<div class="quest-container">
  <h1>Your last quest</h1>
  <div class="cards-product">
      <div class="card-product">
        <div class="card-product-infos">
          <h3><%= @quest.name%></h3>
          <p><%= @quest.description  %></p>
        </div>
        <div class="card-product-infos">
          <p>Nice one! Continue like that!</p>
          <p> Here you're rewards</p>
        </div>
      </div>
  </div>
</div>
