  <div class="progress">
      <div class="progress-value">
        <div class="d ot-spacer">
          <div class="step-dot"></div>
          <div class="step-dot"></div>
          <div class="step-dot"></div>
        </div>
      </div>
    </div>
  </div>
