<div class="container">

<%# ----------------- MENU CARD BLACK ----------------- %>

<%= render "shared/black_navbar" %>

<%# ----------------- QUEST CARD ----------------- %>

  <%= render "partials/#{@quest.partial}" %>

</div>
