<h1>UserGoals#new</h1>
<p>Find me in app/views/user_goals/new.html.erb</p>

<%# <%= link_to  "X Stop X", category_path%>
<%= link_to  "Return", category_quest_path(@quest.category), class: "yellow-small-btn"%>
