<div class="container">
  <div class="invisible-card-top-quest">
    <i class="fa-solid fa-angles-right arrow-color" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
      <div class="dropdown-menu dropdown-menu-end test-color-dropdown" aria-labelledby="navbarDropdown">
        <div class="dropdown">
          <%= link_to "Quests", categories_path, class: "btn-dropdown" %>
          <%= link_to "Profil", root_path, class: "btn-dropdown" %>
          <%= link_to "Shop", skins_path, class: "btn-dropdown" %>
        </div>
      </div>
        <div class="cellules-skills-coin">
          <i class="fa-solid fa-coins"></i> <p class="coin-count">392</p>
        </div>
      <img class="avatar-grey-card" src="https://file1.closermag.fr/var/closermag/storage/images/bio-people/biographie-ryan-gosling-112720/825706-1-fre-FR/Ryan-Gosling.jpg?alias=square500x500&size=x100&format=jpeg">
  </div>

  <div class="card-grey-action">
    <h2 class="action-count">3</h2>
    <h2 class="action-count">2</h2>
    <h2 class="action-count">1</h2>
    <h2 class="action-count">GO !</h2>
  </div>
    <p class="yellow-large-btn"> STOP !</p>
      <div class="card-action-progress">
        <p class="font-bold-large">PROGRESS</p>
          <div class="progress">
            <div class="progress-value">
              <div class="dot-spacer">
                <div class="step-dot"></div>
                <div class="step-dot"></div>
                <div class="step-dot"></div>
              </div>
            </div>
          </div>
        <p class="timer-position-fix font-bold-large">TIMER 2:00</p>
      </div>
</div>
